.root{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 25rem 1fr;
    grid-template-rows: 7rem 1fr;
    background-image: url("https://github.com/gODHyDRaX/img/blob/main/luca-bravo-XJXWbfSo2f0-unsplash.jpg?raw=true");
    background-position:bottom;
    background-size: cover;
    background-repeat: no-repeat;
}
.header{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: space-between;
    padding: 1rem;
    background-color: #242323;
    color: #ffff;
}
.perfil{
    display: flex;
   
    padding: 1rem;    
}
.grid{
    display: grid;
    grid-template-rows: 30rem 1fr;   
}
.paginas{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    gap: 1rem;
}
.soporte{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    gap: 1rem;
}
.cartas{
    width: 22%;
    
    height: 26rem;
    border-radius: 15px;
    background-color: #232639;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 2rem 1fr 3rem 2rem;
    color: white;
    gap: 1rem;
}
.titulo{
    background-color: #42445D;
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    font-size: 1.2rem;
    align-items: center;
}
.descripcion{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    display: flex;
    align-items: center;
}
.img{
    background-color: white;
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
/* cartas*/    
.github {
    text-decoration: none;
    border: 2px solid #689cb4;
    overflow: hidden;
    background-color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
    font-family: inherit;
    color: white;
   }
   
   
   .github:hover {
    color: black;
    transition: .5s ease;
    background: #689cb4;
   }
   .repo {
    text-decoration: none;
    border: 2px solid #689cb4;
    overflow: hidden;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    transition: .3s;
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
   }
   
   

   
   .repo:hover {
    color: black;
    transition: .5s ease;
    background: #689cb4;
}