.nombre_usuario{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
    color: white;
}
.logo{
    width:2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: gray;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil{
    display: flex;
    justify-content: start; 
}
.porcentaje{
    display: flex;
}
.alm{
    display: grid;
    width: 100%;
    grid-template-rows: 8rem 1fr;
}
.porcentaje{
    display: grid;
    width: 100%;
    grid-template-rows: repeat(15,1fr);
}
.porcentaje span{
    color: white;
    font-size: 1.5rem;
}
.nm1{
    display: flex;
    background-color: rgb(214, 1, 1);
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 25%;
    border-radius: 15px;
}
.nm2 {
    display: flex;
    background-color: rgb(214, 1, 1);
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 25%;
    border-radius: 15px;
}
.nm3 {
    display: flex;
    background-color: rgb(214, 1, 1);
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 65%;
    height: 25%;
    border-radius: 15px;
}
.nm4 {
    display: flex;
    background-color: rgb(214, 1, 1);
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 25%;
    border-radius: 15px;
}
.nm5 {
    display: flex;
    background-color: rgb(214, 1, 1);
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 25%;
    border-radius: 15px;
}
.nm6 {
    display: flex;
    background-color: rgb(214, 1, 1);
    color: white;
    font-size: 0.8rem;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 25%;
    border-radius: 15px;
}