.nombre_usuario{
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.4rem;
}
.logo{
    width:2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: gray;
    color: black;
    font-size: 1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
}
.perfil{
    display: flex;
    justify-content: start; 
}

